<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h1>Авторизация</h1>


  <div class="alert" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>


  <div class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
  </div>

  <div class="form-control">
    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password">
  </div>

  <button type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid || submitted">
    Войти</button>
</form>
